@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Courier', sans-serif;
  background-image: url(https://source.unsplash.com/fY1ECB1RCd0)
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.img-round {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
}

.anchor-pink {
  text-decoration: none;
  color: rgb(246, 234, 241);
  background-color: rgb(226, 43, 125);
  padding: 10px;
  border-radius: 10px;
}

.anchor-pink:hover {
  background-color: rgb(233, 197, 213);
  color: black;
}

.paragraph-description {
  font-size: 20px;
}

.a-center {
  margin-top: 50px;
  text-align: center;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-inline-start: 0;
}

li {
  margin: 0 20px;
}

.fa-brands {
  font-size: 40px;
  color: rgb(69, 69, 69);
}

.fa-brands:hover {
  color: rgb(226, 43, 125);
}

h1,
p,
h2 {
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-weight: bold;
}


@media (max-width: 540px) {

  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
